<div class="about-container">
    <div class="about-content">
        <h1>About us</h1>
        <article>
            <h2>Welcome to CookITUp</h2>
            <p>
                CookITUp is your go-to destination for culinary inspiration and delicious recipes! We are passionate food enthusiasts who believe that cooking is not just a necessity but a delightful art form that brings people together and sparks joy in everyday life.
            </p>
        </article>
        <article>
            <h2>Our mission</h2>
            <p>
                Our mission is simple: to empower and inspire home cooks of all levels to create mouthwatering dishes that are not only satisfying but also a source of pride. We understand that cooking can be intimidating for some, and that's why we're here to guide you through every step of the culinary journey.
            </p>
        </article>
        <article>
            <h3>
                Thank you for your time
            </h3>
            <br>
        </article>
    </div>
</div>