<main>
    <section id="hero">
      <div class="hero-title">
        <span style="position: relative; top:30px;">Welcome to</span>
        <h1>CookITUP</h1>
        <span style="position: relative; bottom:30px;"> the best recipe website</span>
      </div>
    </section>
    <section id="recipes">
      <aside>
        <h2>Categories</h2>
        <ul>
          <li><a href="?category=Lunch">Lunch</a></li>
          <li><a href="?category=Dinner">Dinner</a></li>
          <li><a href="?category=Dessert">Deserts</a></li>
        </ul>
        <hr>
        <h2>Special</h2>
        <ul>
          <li><a href="?category=Vegan">Vegan</a></li>
        </ul>
      </aside>
      <div class="recipes-container">
        <h2>Recipes</h2>
        <recipe-card-container class="image-card-container"></recipe-card-container>
      </div>
    </section>
</main>